[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/D3D12MemoryAllocator"]
	path = ThirdParty/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "ThirdParty/FastGltf"]
	path = ThirdParty/FastGltf
	url = https://github.com/spnda/fastgltf.git
[submodule "ThirdParty/YamlCpp"]
	path = ThirdParty/YamlCpp
	url = https://github.com/jbeder/yaml-cpp.git
